#kiri{float:left;width:100%}
#kanan{float:left;}
table {font-size: 12px;width: 100%;border: none;}
th {padding: 5px;}
td {padding: 4px;vertical-align:top;}

tr.garis:hover {background: #feffc5 }
table.garis {font-size: 12px;
	border: 1px solid #dcdcdc;
	margin: 20px 0 20px 0;
	border-collapse: collapse;
}
th.garis {
	border: 1px solid #dcdcdc;
	background: url(img/white.jpg) repeat left center;
	text-shadow: 0px 1px #fff;
	padding: 7px 4px 7px 4px;
}

td.garis {
	border: 1px solid #dcdcdc;
	padding: 4px;
}

.hal a{
	float: left;
	padding: 4px 5px 4px 5px;
	border: 1px solid #dcdcdc;
	background: url(white.jpg)repeat left center;
	text-shadow: 0px 1px #fff;
	margin-right: 5px;
}
.halaktif a{
	background: #fff;
	color: #000;
	float: left;
	padding: 4px 5px 4px 5px;
	border: 1px solid #dcdcdc;
	text-shadow: 0px 1px #fff;
	margin-right: 5px;
}

.pg-normal {
	padding: 3px 5px 3px 5px;
	margin: 5px 1.5px 0 1.5px;
	border: 1px solid #dcdcdc;
	background: url(img/white.jpg) repeat left center;
	text-shadow: 0px 1px #fff;
	color: #006cff;
	cursor: pointer;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.pg-selected {
	padding: 3px 5px 3px 5px;
	margin: 5px 1.5px 0 1.5px;
	border: 1px solid #5b5b5b; color: #5b5b5b;
	background: url(img/white.jpg) repeat left center;
	text-shadow: 0px 1px #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;	
}

	#sambutan {

		background-color:#658DB5;
		margin-right: 0px;
		margin-left: 0px;
		float: left;
		border: 1px solid #dcdcdc;
		margin-bottom: 20px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		color:#fff;
	}
	#sambutan h3 {
	color:#fff;
		font-size: 18px;
		margin: 0 0 10px 0;
		padding: 3px 7px 6px 7px;
		width: 98%;
		border-bottom: 1px solid #dcdcdc;
		font-weight:bold;
	}	
	#lebar {

		padding:10px;
		margin-right: 20px;
		margin-left: 0px;
		float: left;
		background: #fff;
		border: 1px solid #dcdcdc;
		margin-bottom: 20px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
	}
	#lebar h3 {
		font-size: 18px;
		margin: 0 0 10px 0;
		padding: 3px 7px 6px 7px;
		width: 98%;
		border-bottom: 1px solid #dcdcdc;
		font-weight:bold;
	}
	#lebar h4 {
		font-size: 20px;
		margin: 0 0 10px 0;
		padding: 3px 7px 6px 7px;
		float: left;
		width: 98%;
		border-bottom: 1px solid #dcdcdc;
		text-transform: uppercase;
	}	
	
	#lebarTab {
		
		margin-right: 0px;
		margin-left: 0px;
		float: left;
		background-color: #FFECB0;
		border: 1px solid #dcdcdc;
		margin-bottom: 20px;
		-webkit-border-radius: 5px;
-webkit-border-top-left-radius: 0;
-moz-border-radius: 5px;
-moz-border-radius-topleft: 0;
border-radius: 5px;
border-top-left-radius: 0;
	}
	#lebarTab h3 {
		font-size: 14px;
		margin: 0;
		padding: 0;
		position: absolute;
	}
	
			#lebarTab ul {list-style: none; padding-left: 5px;line-height: 15px;}
			#lebarTab ul li {margin-left: 0px;	padding: 10px; margin-bottom: 0px; border-bottom: 1px dashed #dcdcdc;}
			#lebarTab ul li a { color: #0069ba;	}
			#lebarTab ul li a:hover { text-decoration: underline }
			#lebarTab ul li:hover {background: #feffc5 }
	
ul.tabshome {
	margin: 0 0 0 0px;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px; /*--Set height of tabshome--*/
	border-left: 1px solid #fff;
	width: 100%;
	
}
ul.tabshome li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #dcdcdc;
	borderx-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	margin-right: 2px; 
	margin-left: -1px; 
	overflow: hidden;
	background-color:#FFF1C6; 
	position: relative;

}
ul.tabshome li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 12px;
	padding: 0 20px;
	borderx: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;

}
ul.tabshome li a:hover {
	background: #FF800D;
	color: #fff;
}
html ul.tabshome li.active, html ul.tabshome li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #FFECB0; 
	border-bottom: 1px solid #FFECB0; /*--Makes the active tab look like it's connected with its content--*/
	color: #5b5b5b;
}


	.elearning {
		width: 236px;
		padding: 10px;
		height: 200px;
		float: left;
		background: #fff;
		border: 1px solid #dcdcdc;
		margin-bottom: 20px;
	}

	.kotakSidebar {
		width: 100%;
		padding: 0px;
		margin-right: 20px;
		float: left;
		background: #fff;
		margin-bottom: 20px;
		border: 1px solid #dcdcdc;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
	}

		.albumgaleri  {
			padding: 2px;
			width: 135px;
			height: 220px;
			background: #f4f4f4;
			border: 1px solid #dcdcdc;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			float: left;
			margin: 20px 15px 0 0;
			text-align: center;
		}
		/*.albumgaleri a:hover {
			-moz-box-shadow: 0px 0px 5px #5b5b5b;
			-webkit-box-shadow: 0px 0px 5px #5b5b5b;
			
		} */
		p.thumb{
		float:left;
		margin:.5em 0;
		margin-right:10px;
		background: #fff;
		border: 1px solid #dcdcdc;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		padding:2px;
		}
		p.thumb a{
		display:block;
		float:left;
		width:128px;
		height:90px;
		overflow:hidden;
		position:relative;
		z-index:1;	
		}	
		p.thumb a img{
		float:left;
		top: -0px;
		left:-0px;
		width: 128px;
		position:absolute;
		}
	#kecil {
	
		padding: 15px;

		background: #fff;
		border: 1px solid #dcdcdc;
		margin-bottom: 20px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
	}
	#kecil h3 {
		font-size: 14px;
		margin: 0 0 10px 0;
		padding: 3px 7px 6px 7px;
		float: left;
		width: 95%;
		border-bottom: 1px solid #dcdcdc;
	}
	#kecil img {padding: 0px; background: #fff;-moz-box-shadow: 0px 0px 5px #bfbfbf;-webkit-box-shadow: 0px 0px 5px #bfbfbf;}
	

		
	.f_kiri {
		float: left;
	}
	.f_kanan {
		float: right;
		text-align: right;
	}	
img { 
  border: 0;
}	