@font-face { 
  font-family: Yanone Kaffeesatz; 
    src: url('../fonts/YanoneKaffeesatz-Regular.eot'); 
    src: local("Yanone Kaffeesatz"), url('../fonts/YanoneKaffeesatz-Regular.ttf'); 
} 

@font-face { 
  font-family: News Cycle; 
    src: url('../fonts/NewsCycle-Regular.eot'); 
    src: local("News Cycle"), url('../fonts/NewsCycle-Regular.ttf'); 
} 

html { 
  height: 100%;
}

* { 
  margin: 0;
  padding: 0;
}

/* tell the browser to render HTML 5 elements as block */
article, aside, figure, footer, header, hgroup, nav, section { 
  display:block;
}

body { 
  font: normal .70em arial, sans-serif;
  background: navy url(../images/back.jpg) no-repeat center fixed;
  color: #444;
}

p { 
  padding: 0 0 20px 0;
  line-height: 1.0em;
}

img { 
  border: 0;
}

h1, h2, h3, h4, h5, h6 { 
  color: #362C20;
  letter-spacing: 0em;
  padding: 0 0 5px 0;
}

h1, h2, h3 { 
  font: normal 230% arial, sans-serif;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;
  color: #222;
}

h2 { 
  font-size: 230%;
  padding: 9px 0 5px 0;
  color: #F68500;
}

h3 { 
  font-size: 220%;
  padding: 5px 0 0 0;
}

h4, h6 { 
  color: #F68500;
  padding: 0 0 5px 0;
  font: normal 200% 'Yanone kaffeesatz', arial, sans-serif;
}

h5, h6 { 
  color: #555;
  font: italic 95% arial, sans-serif;
  letter-spacing: normal;
  padding: 0 0 15px 0;
}

a, a:hover { 
  outline: none;
  text-decoration: underline;
  color: navy;
}

a:hover { 
  text-decoration: none;
}

blockquote { 
  margin: 20px 0; 
  padding: 10px 20px 0 20px;
  border: 1px solid #E5E5DB;
  background: #FFF;
}

ul { 
  margin: 2px 0 22px 17px;
}

ul li { 

}

ol { 
  margin: 8px 0 22px 20px;
}

ol li { 
  margin: 0 0 11px 0;
}

.left { 
  float: left;
  width: auto;
  margin-right: 10px;
}

.right { 
  float: right; 
  width: auto;
  margin-left: 10px;
}

.center { 
  display: block;
  text-align: center;
  margin: 20px auto;
}

#main, nav, #container, #logo, #site_content, footer { 
  margin-left: auto; 
  margin-right: auto;
}

#main {
  margin: 5px auto;
  width: 1000px;
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;
  background: #FFF;
  padding-bottom: 30px;
  box-shadow:0px 6px 10px #06070A;
}

header { 
  background: transparent;
  height: 150px;
  padding-top: 10px;
}

#logo {

  width: 980px;
  height: 150px;

  color: #888;
  padding: 0;
  -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

#logo h1, #logo h2 { 
  font: normal 320% 'News Cycle', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0;
}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover { 
  padding: 20px 0 0 0;
  color: #444;
  text-decoration: none;
}

#logo_text h1 a .logo_colour { 
  color: #09D4FF;
}

#logo_text a:hover .logo_colour { 
  color: #444;
}

#logo_text h2 { 
  font-size: 140%;
  padding: 0 0 0 0;
}

	.logos {
		padding: 5px;
		height: 76px;
		float: left;
		margin: 0 5px 0 10px;
	}
	.logos img {
		width: 100px;
	}
	.sekolah {
		padding: 25px 15px 15px 0px;
		float: left;
	}
		.sekolah h3 a {
			margin-top: -20px;
			padding-bottom: 0;
			line-height: 0px;
			text-shadow: 0px 3px 4px #000;
			letter-spacing: -1px;
			position: absolute;
			
  font: 240% 'Yanone Kaffeesatz', arial, sans-serif;
  color:#fff;
			font-weight:bold;
			text-decoration: none;
  
		}
		.sekolah p{
			color: #000;
			margin-top: 20px;
			padding: 0;
			text-shadow: 0px 3px 4px #fff;
			font-weight:bold;
		}
		.cariform {
			float: right;
			margin-top: 5px;
			margin-right: 10px;
		}
.clear {clear: both;}
nav { 
  height: 35px;
  width: 1040px;
  margin: -34px auto 0 -20px;
  -webkit-border-radius: .5em .5em .5em .5em ; 
  -moz-border-radius: .5em .5em .5em .5em ;
  border-radius: .5em .5em .5em .5em ;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);  
  color: #FFF;
  border: solid 1px #DA7C0C;
  background: #F78D1D;
  background: -webkit-gradient(linear, left top, left bottom, from(#FAA51A), to(#F47A20));
  background: -moz-linear-gradient(top,  #FAA51A,  #F47A20);
} 

#menu_container { 
  width: 1010px;
  margin: 0  auto 0 0px;
}

#site_content { 
  width: 960px;
  overflow: hidden;
  margin: 0px auto 0 auto;
  padding: 15px 0 15px 0;
} 

#sidebar_container { 
  float: right;
  width: 224px;
}
#sidebarki_container { 
  float: left;
  width: 224px;
}
.sidebarki { 
  float: left;
  width: 200px;
  margin: 0 0 17px 0;
  background: #EFF8FB;
  border: 1px solid #C6E7F0;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
  padding: 0 15px 5px 13px;
}
  
.sidebarki h3, .content h1 { 
  padding: 0 15px 20px 0;
  font: 220% 'News Cycle', arial, sans-serif;
  margin: 0 1px;
  color: #444;
}

.sidebarki h3 { 
  padding: 14px 15px 14px 15px;
  color: #444;
  font: 190% 'News Cycle', arial, sans-serif;
  margin-left: 10px;
  text-shadow: 1px 1px #FFF;
}

.sidebar ul { 
  margin: 0 0 15px 0;
} 
.sidebar { 
  float: right;
  width: 200px;
  margin: 0 0 17px 0;
  background: #EFF8FB;
  border: 1px solid #C6E7F0;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
  padding: 0 15px 5px 13px;
}
  
.sidebar h3, .content h1 { 
  padding: 0 15px 20px 0;
  font: 220% 'News Cycle', arial, sans-serif;
  margin: 0 1px;
  color: #444;
}

.sidebar h3 { 
  padding: 14px 15px 14px 15px;
  color: #444;
  font: 190% 'News Cycle', arial, sans-serif;
  margin-left: 10px;
  text-shadow: 1px 1px #FFF;
}

.sidebar ul { 
  margin: 0 0 15px 0;
} 

.sidebar li a, .sidebar li a:hover { 
  color: #555;
  text-decoration: none;
} 

.sidebar li a:hover { 
  text-decoration: underline;
} 

.sidebar_item, .content_item { 
  padding: 15px 0;
}

.paperclip { 
  float: left;
  position: relative; 
  z-index: 0;
  vertical-align: middle; 
  margin: -15px 0 -60px -40px;
}

.content { 
  text-align: justify;
  width: 700px;
  margin: 0 0 15px 0;
  float: left;
  font-size: 120%;
  padding: 14px 0 0 0;
}

.contentka { 
  text-align: justify;
  width: 730px;
  margin: 0 0 15px 0;
  float: left;
  font-size: 120%;
  padding: 14px 0 0 0;
}
  
.content ul { 
  margin: 2px 0 22px 0px;
}

.content ul li, .sidebar ul li { 
  list-style-type: none;
  margin: 0 0 0 0; 
  padding: 0 0 4px 28px;
  line-height: 1.5em;
}

footer { 
  width: 1020px;
  font: 140% 'Yanone Kaffeesatz', arial, sans-serif;
  text-shadow: 1px 1px #fff;
  height: 30px;
  padding: 5px 10px 20px 10px;
  margin: -34px auto 0 -20px;
  text-align: right; 
  -webkit-border-radius: .5em .5em .5em .5em ; 
  -moz-border-radius: .5em .5em .5em .5em ;
  border-radius: .5em .5em .5em .5em ;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);  
  color: #000;
  border: solid 1px #DA7C0C;
  background: #F78D1D;
  background: -webkit-gradient(linear, left top, left bottom, from(#FAA51A), to(#F47A20));
  background: -moz-linear-gradient(top,  #FAA51A,  #F47A20);
}

footer p { 
  line-height: 1.7em;
  padding: 0 0 10px 0;
}

footer a { 
  color: #000;
  text-decoration: none;
}

footer a:hover { 
  color: navy;
  text-shadow: none;
  text-decoration: none;
}

.form_settings { 
  margin: 15px 0 0 0;
}

.form_settings p { 
  padding: 0 0 4px 0;
}

.form_settings span { 
  float: left; 
  width: 200px; 
  text-align: left;
}
  
.form_settings input, .form_settings textarea { 
  padding: 5px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #C6E7F0; 
  background: #EFF8FB; 
  color: #47433F;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;  
}
  
.form_settings .submit { 
  font: 140% 'Yanone Kaffeesatz', arial, sans-serif; 
  border: 0; 
  width: 99px; 
  margin: 0 0 0 212px; 
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #1EC9F4; 
  -webkit-border-radius: .5em .5em .5em .5em ; 
  -moz-border-radius: .5em .5em .5em .5em ;
  border-radius: .5em .5em .5em .5em ;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);  
  color: #FFF;
  border: solid 1px #0D8AA9;
  background: #46C4DD;
  background: -webkit-gradient(linear, left top, left bottom, from(#63CFDF), to(#17B2D9));
  background: -moz-linear-gradient(top,  #63CFDF,  #17B2D9);
  text-shadow: 1px 1px #178497;
}

.form_settings textarea, .form_settings select { 
  font: 100% arial; 
  width: 299px;
}

.form_settings select { 
  width: 310px;
}

.form_settings .checkbox { 
  margin: 4px 0; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;
}

.separator { 
  width: 100%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #FFF;
  margin: 0 0 20px 0;
}
  
table { 
  margin: 10px 0 30px 0;
}

table tr th, table tr td { 
  color: #000;
  padding: 7px 4px;
  text-align: left;
}
  
table tr td { 
  color: #47433F;
  border-top: 1px solid #FFF;
}





/**
Stylesheet for SooperFish by www.SooperThemes.com
Author: Jurriaan Roelofs
**/

/* Configuration of menu width */
html body ul.sf-menu ul,html body ul.sf-menu ul li { 
  width: 200px;
}

html body ul.sf-menu ul ul { 
  margin: 0 0 0 200px;
}

/* Framework for proper showing/hiding/positioning */
ul.sf-menu,ul.sf-menu * { 
  margin: 0;
  padding: 0;
}

ul.sf-menu { 
  display: block;
  position: relative;
}
  
ul.sf-menu li { 
  display: block;
  list-style: none;
  float: left;
  position: relative;
}
  
ul.sf-menu li:hover { 
  visibility: inherit; /* fixes IE7 'sticky bug' */ 
}

ul.sf-menu a { 
  display: block;
  position: relative;
}
  
ul.sf-menu ul { 
  position: absolute;
  left: 0;
  width: 150px; 
  top: auto;
  left: -999999px;
}
  
ul.sf-menu ul a { 
  zoom: 1; /* IE6/7 fix */ 
}

ul.sf-menu ul li { 
  float: left; /* Must always be floated otherwise there will be a rogue 1px margin-bottom in IE6/7 */
  width: 150px;
}
  
ul.sf-menu ul ul { 
  top: 0;
  margin: 0 0 0 150px;
}

ul.sf-menu li:hover ul,ul.sf-menu li:focus ul,ul.sf-menu li.sf-hover ul, 
ul.sf-menu ul li:hover ul,ul.sf-menu ul li:focus ul,ul.sf-menu ul li.sf-hover ul,
ul.sf-menu ul ul li:hover ul,ul.sf-menu ul ul li:focus ul,ul.sf-menu ul ul li.sf-hover ul,
ul.sf-menu ul ul ul li:hover ul,ul.sf-menu ul ul ul li:focus ul,ul.sf-menu ul ul ul li.sf-hover ul { 
  left: auto;
}
  
ul.sf-menu li:hover ul ul,ul.sf-menu li:focus ul ul,ul.sf-menu li.sf-hover ul ul,
ul.sf-menu ul li:hover ul ul,ul.sf-menu ul li:focus ul ul,ul.sf-menu ul li.sf-hover ul ul,
ul.sf-menu ul ul li:hover ul ul,ul.sf-menu ul ul li:focus ul ul,ul.sf-menu ul ul li.sf-hover ul ul,
ul.sf-menu ul ul ul li:hover ul ul,ul.sf-menu ul ul ul li:focus ul ul,ul.sf-menu ul ul ul li.sf-hover ul ul { 
  left: -999999px;
}

/* autoArrows CSS */
span.sf-arrow { 
  width: 7px;
  height: 7px;
  position: absolute;
  top: 20px;
  right: 5px;
  display: block;
  background: url(../images/arrows-white.png) no-repeat 0 0;
  overflow: hidden; /* making sure IE6 doesn't overflow and expand the box */
  font-size: 1px;
}

ul ul span.sf-arrow { 
  right: 10;
  top: 20px;
  background-position: 0 100%;
}

/* Theming the menu */
ul#nav { 
  float: left;
}

ul#nav ul { 
  background: #F47A20;
  margin-top: 2px;
  padding-bottom: 15px;
    -webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
}

ul#nav li a { 
  padding:5px 15px 5px 15px;
  font: 160% 'Yanone Kaffeesatz', arial, sans-serif;
  text-shadow: 1px 1px #7E4D0E;
  text-decoration: none;
  color: #FFF;
  margin-right: 2px;
}

ul#nav li a:hover,ul#nav li a:focus { 
  color: #444;
  text-shadow: none;

}



table {font-size: 12px;width: 100%;border: none;}
th {padding: 5px;}
td {padding: 4px;}

tr.garis:hover {background: #feffc5 }
table.garis {font-size: 12px;
	border: 1px solid #dcdcdc;
	margin: 20px 0 20px 0;
	border-collapse: collapse;
}
th.garis {
	border: 1px solid #dcdcdc;
	background: url(img/white.jpg) repeat left center;
	text-shadow: 0px 1px #fff;
	padding: 7px 4px 7px 4px;
}

td.garis {
	border: 1px solid #dcdcdc;
	padding: 4px;
}

input {padding: 3px;}
input.cari {margin-top: 0px;width: 125px; background: #fff; border: 1px solid #dcdcdc; color #5b5b5b; -moz-border-radius: 3px; -webkit-border-radius: 3px; margin-right: 3px;}
input.pendek {width: 108px; background: #fff; border: 1px solid #dcdcdc; color #5b5b5b; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
input.sedang {width: 200px; background: #fff; border: 1px solid #dcdcdc; color #5b5b5b; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
input.panjang {width: 100%; background: #fff; border: 1px solid #dcdcdc; color #5b5b5b; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
textarea {
width: 100%; background: #fff; border: 1px solid #dcdcdc; color #5b5b5b; -moz-border-radius: 3px; -webkit-border-radius: 3px;
padding: 4px;
}
input.tombol {
	padding: 2px 8px 2px 8px;
	background:url(img/white.jpg)repeat left center;
	border: 1px solid #dcdcdc;
	color:#5b5b5b;
	cursor: pointer;
	-moz-border-radius: 3px; -webkit-border-radius: 3px;
}
input.tombol:hover {color: #000;}
input.tombol:active {background: #fff;}
select {margin-top: 0px;padding: 4px;background: #fff; border: 1px solid #dcdcdc; color #5b5b5b; -moz-border-radius: 3px; -webkit-border-radius: 3px;}

.hal a{
	float: left;
	padding: 4px 5px 4px 5px;
	border: 1px solid #dcdcdc;
	background: url(white.jpg)repeat left center;
	text-shadow: 0px 1px #fff;
	margin-right: 5px;
}
.halaktif a{
	background: #fff;
	color: #000;
	float: left;
	padding: 4px 5px 4px 5px;
	border: 1px solid #dcdcdc;
	text-shadow: 0px 1px #fff;
	margin-right: 5px;
}

.pg-normal {
	padding: 3px 5px 3px 5px;
	margin: 5px 1.5px 0 1.5px;
	border: 1px solid #dcdcdc;
	background: url(img/white.jpg) repeat left center;
	text-shadow: 0px 1px #fff;
	color: #006cff;
	cursor: pointer;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.pg-selected {
	padding: 3px 5px 3px 5px;
	margin: 5px 1.5px 0 1.5px;
	border: 1px solid #5b5b5b; color: #5b5b5b;
	background: url(img/white.jpg) repeat left center;
	text-shadow: 0px 1px #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;	
}



#headlineFrame {
	width: 648px;
	padding: 5px;
	margin: 0px 0 30px 20px;
	float: left;
	border: 1px solid #fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 0px 5px #dcdcdc;
	-webkit-box-shadow: 0px 0px 5px #dcdcdc;
}
	#headline {
		width: 646px;
		height: 275px;
		background: #fff;
		float: left;
		position:relative;
		border: 1px solid #efefef;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
	}

			#ribbon {
				position:absolute;
				top:-16px;
				left:-15px;
				z-index:500;
			}


			#slides {
				position:absolute;
				z-index:100;
			}

				.slides_container {
					width:646px;
					overflow:hidden;
					position:relative;
					display:none;
				}

				.slides_container a {
					width:648px;
					height:275px;
					display:block;
				}

				.slides_container a img {
					display:block;
				}
				.slides_container div.slide {
					width:648px;
					height:275px;
					display:block;
				}

		

			.pagination {
				margin:15px auto 0;
				width:100px;
			}

			.pagination li {
				float:left;
				margin:0 1px;
				list-style:none;
			}

			.pagination li a {
				display:block;
				width:10px;
				height:0;
				padding-top:12px;
				
				background-position:0 0;
				float:left;
				overflow:hidden;
				list-style:none;
			}

			.pagination li.current a {
				background-position:0 -12px;
			}
			.caption {
				z-index:500;
				position:absolute;
				left: 0px;
				height:90px;
				padding:5px 20px 0 10px;
				background:url(img/trans.png);
				width:648px;
				color:#fff;
				text-shadow:none;
				  -moz-border-radius-topright: 5px;
				  -moz-border-radius-bottomright: 5px;
				  -webkit-border-top-right-radius: 5px;
				  -webkit-border-bottom-right-radius: 5px;
			}
			.caption p {
				margin: 0px 20px 0 0;
				line-height: 20px;
			}
			
#konten {
	width: 700px;
	float: left;
	margin: 5px 0 0 0;
}
			
	#lebar {
		width: 660px;
		padding: 15px;
		margin-right: 20px;
		margin-left: 0px;
		float: left;
		background: #fff;
		border: 1px solid #dcdcdc;
		margin-bottom: 20px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
	}
	#lebar h3 {
		font-size: 14px;
		margin: 0 0 10px 0;
		padding: 3px 7px 6px 7px;
		width: 98%;
		border-bottom: 1px solid #dcdcdc;
	}
	#lebar h4 {
		font-size: 20px;
		margin: 0 0 10px 0;
		padding: 3px 7px 6px 7px;
		float: left;
		width: 98%;
		border-bottom: 1px solid #dcdcdc;
		text-transform: uppercase;
	}	
	
	#lebarTab {
		width: 628px;
		padding: 15px;
		margin-right: 20px;
		margin-left: 20px;
		float: left;
		background-color: #FFECB0;
		border: 1px solid #dcdcdc;
		margin-bottom: 20px;
		-webkit-border-radius: 5px;
-webkit-border-top-left-radius: 0;
-moz-border-radius: 5px;
-moz-border-radius-topleft: 0;
border-radius: 5px;
border-top-left-radius: 0;
	}
	#lebarTab h3 {
		font-size: 14px;
		margin: 0;
		padding: 0;
		position: absolute;
	}
	
			#lebarTab ul {list-style: none; padding-left: 5px;line-height: 15px;}
			#lebarTab ul li {margin-left: 0px;	padding: 10px; margin-bottom: 0px; border-bottom: 1px dashed #dcdcdc;}
			#lebarTab ul li a { color: #0069ba;	}
			#lebarTab ul li a:hover { text-decoration: underline }
			#lebarTab ul li:hover {background: #feffc5 }
	
ul.tabs {
	margin: 0 0 0 20px;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px; /*--Set height of tabs--*/
	border-left: 1px solid #fff;
	width: 100%;
	
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #dcdcdc;
	borderx-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	margin-right: 2px; 
	margin-left: -1px; 
	overflow: hidden;
	background-color:#FFF1C6; 
	position: relative;
	-webkit-border-top-left-radius: 10px;
-moz-border-radius-topleft: 10px;
border-top-left-radius: 10px;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 12px;
	padding: 0 20px;
	borderx: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
	-webkit-border-top-left-radius: 10px;
-moz-border-radius-topleft: 10px;
border-top-left-radius: 10px;
}
ul.tabs li a:hover {
	background: #FF800D;
	color: #fff;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #FFECB0; 
	border-bottom: 1px solid #FFECB0; /*--Makes the active tab look like it's connected with its content--*/
	color: #5b5b5b;
}


	.elearning {
		width: 236px;
		padding: 10px;
		height: 200px;
		float: left;
		background: #fff;
		border: 1px solid #dcdcdc;
		margin-bottom: 20px;
	}

	.kotakSidebar {
		width: 220px;
		padding: 0px;
		margin-right: 20px;
		float: left;
		background: #fff;
		margin-bottom: 20px;
		border: 1px solid #dcdcdc;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
	}

		.albumgaleri  {
			padding: 2px;
			width: 135px;
			height: 220px;
			background: #f4f4f4;
			border: 1px solid #dcdcdc;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			float: left;
			margin: 20px 15px 0 0;
			text-align: center;
		}
		/*.albumgaleri a:hover {
			-moz-box-shadow: 0px 0px 5px #5b5b5b;
			-webkit-box-shadow: 0px 0px 5px #5b5b5b;
			
		} */
		p.thumb{
		float:left;
		margin:.5em 0;
		margin-right:10px;
		background: #fff;
		border: 1px solid #dcdcdc;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		padding:2px;
		}
		p.thumb a{
		display:block;
		float:left;
		width:128px;
		height:90px;
		overflow:hidden;
		position:relative;
		z-index:1;	
		}	
		p.thumb a img{
		float:left;
		top: -0px;
		left:-0px;
		width: 128px;
		position:absolute;
		}
	#kecil {
		width: 278px;
		padding: 15px;
		margin-right: 20px;
		margin-left: 20px;
		float: left;
		background: #fff;
		border: 1px solid #dcdcdc;
		margin-bottom: 20px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
	}
	#kecil h3 {
		font-size: 14px;
		margin: 0 0 10px 0;
		padding: 3px 7px 6px 7px;
		float: left;
		width: 95%;
		border-bottom: 1px solid #dcdcdc;
	}
	#kecil img {padding: 0px; background: #fff;-moz-box-shadow: 0px 0px 5px #bfbfbf;-webkit-box-shadow: 0px 0px 5px #bfbfbf;}
	
			.pengumuman {
			width: 248px;
			float: left;
			background: #EFF8FB;
			padding: 15px;
			color: #5b5b5b;
			border: 1px dashed #5b5b5b;}
			.pengumuman h4 {background: url(img/pengumuman.png) no-repeat left center; min-height: 35px;padding: 5px 0 5px 55px; margin: 0; font-size: 22px; border-bottom: 1px solid #5b5b5b;text-shadow: 0px 1px #fff;}
		
		
	.f_kiri {
		float: left;
	}
	.f_kanan {
		float: right;
		text-align: right;
	}		